:root{
    --marginX: 60px;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


a {
    cursor: pointer;
}

h1 {
    font-family: "Space Grotesk";
    font-size: 128px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h2 {
    font-family: "Space Grotesk";
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h3 {
    font-family: "Space Grotesk";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h4 {
    font-family: "Space Grotesk";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h5 {
    font-family: "Space Grotesk";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

li {
    font-family: "Space Grotesk";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color:#97AFB0;
}
.pr-20{
    padding-right:20px;
}
section{
    padding:0  var(--marginX);
    padding-top:10vh;
}
#home {
    width: 100%;
    height: 100%;
    background: #F9FDFF;
}

.header {
    position: relative;
    width: 100vw;
    height: 100px;
    background: pink;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--marginX);
}
.secondary-btns{
    display: flex;
}

.orange {
    color: #DB8300;
}

.blue {
    color: #97AFB0;
}

#home {
    width: 100vw;
    height: 100vh;
    background: #F9FDFF;
}

.hero-container {
    max-width: 90vw;
    width: 100%;
    height: auto;
    border-radius: 35px;
    /* position: absolute;
    left: 50%;
    top: 72%;
    transform: translate(-50%, -50%); */
}
.hero-container img{
    width: 100%;
}